@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import "../font/font.css";

$lightBlue:#31BEF4;
$darkBlue: #212D55;
$customGray: #656D89;
$containers: #F9FCFD;
$mainFont: 'Gilroy';
$secondFont: 'Raleway', sans-serif;